/bazel-*
/bin/* 
deps.bzl
kernel/hdrs/vmlinux.h
controller/target/* 
controller/bin/*
controller/bin/main



exfil-sec-operator/* 
node_agent/dist/
node_agent/keys/*
node_agent/keys/*


build/*
package/*

*.deb
*.rpm 
*.osx 

infrastructure/dga/*.txt
infrastructure/dga/*.conf 


pkg/envoy/target/*
pkg/envoy/target/target-rust-analyzer

pkg/envoy/*.lock
pkg/rpc/keys/*


