/bazel-*
/bin/* 
deps.bzl
kernel/vmlinux.h
controller/target/* 
controller/bin/*
controller/bin/main


exfil-sec-operator/* 
node_agent/dist/

build/*
package/*

*.deb
*.rpm 
*.osx 

infrastructure/dga/*.txt
infrastructure/dga/*.conf 


